/*底部文字部分*/

footer {
    background: #f6f6f6;
	width: 100%;
	/*border: 1px solid yellow;*/
    height: 461px;

}
.footbox{
	margin: 0 auto;
	width: 1190px;
	height: 343px;
	/*border: 1px solid #000;*/
}
.footbox ul{
	width: 1190px;
	height:96px;
	border-bottom: 1px solid #F2F2F2;
}
.footbox ul li{
	    height: 96px;
    width: 232px;
    float: left;
    /* border: 1px solid red; */
    padding-top: 14px;
    padding-left: 6px;
}
.footbox ul li span{
	    /* margin-top: 7px; */
    margin-right: 14px;
    height: 48px;
    width: 48px;
    display: inline-block;
    float: left;
}
.footbox ul li:nth-child(1) span{
	background: url(../images/npbg.png) no-repeat 0px 0px;
}
.footbox ul li:nth-child(2) span{
	background: url(../images/npbg.png) no-repeat -48px 0px;
}
.footbox ul li:nth-child(3) span{
	background: url(../images/npbg.png) no-repeat -96px 0px;
}
.footbox ul li:nth-child(4) span{
	background: url(../images/npbg.png) no-repeat -144px 0px;
}
.footbox ul li:nth-child(5) span{
	background: url(../images/npbg.png) no-repeat -192px 0px;
}

.footbox ul li p:nth-child(2){
	width: 143px;
    height: 25px;
    font-size: 15px;
    line-height: 17px;
    font-weight: bold;
    margin-top: 5px;
}
.footbox ul li p:nth-child(3){
	width: 174px;
    height: 20px;
    font-size: 12px;
    line-height: 15px;
    color: #999999;
}
.footbox dl{
	height: 206px;
	width: 195px;
	/*border: 1px solid blue;*/
	float: left;
	padding-top: 12px;
}
.footbox dl dt{
	font-weight: bold;
	margin-bottom: 11px;
	
}
.footbox dl dd{
	margin-bottom: 8px;
	
}
.footbox  dl:nth-child(7) dd{
	    width: 82px;
}
.footlist{
	padding-top: 20px;
	width:100%;
	height: 188px;
	background: white;
}
.footlist ul{
	width: 1190px;
	margin: 0 auto;
	height: 20px;
	font-size: 13px;
	margin-bottom: 10px;
}
.footlist li{
	position: relative;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-right: 2px solid #9A9B9C;
}
.footlist li:last-child{
	border-right: none;
}
.footlist ul:nth-child(1){
	width: 928px;
	padding-left: 262px;
	color:#666;
	/*border: 1px solid red;*/
}
.footlist ul:nth-child(2){
	padding-left: 212px;
    width: 963px;
    color:#666;
}
.footlist ul:nth-child(1) li a,
.footlist ul:nth-child(2) li a{
	color: #666;
}
.footlist ul:nth-child(3) li a,
.footlist ul:nth-child(4) li a,
.footlist ul:nth-child(5) li a{
	color: #999;
}
.footlist ul:nth-child(3){
	padding-left: 184px;
    width:1006px;
}
.footlist ul:nth-child(3) span:nth-child(2){
	margin-left: 5px;
}
.footlist ul:nth-child(3) li:nth-child(3){
	margin-left: 24px;
}
.footlist ul:nth-child(4){
	width: 984px;
	padding-left: 206px;
}
.footlist ul:nth-child(5){
	width: 905px;
	padding-left: 285px;
	/*border: 1px solid yellow;*/
}
.footlist ul:nth-child(6){
	width: 774px;
	padding-left: 416px;
	height: 35px;
	/*border: 1px solid yellow;*/
}
.footlist ul:nth-child(6) li img{
	height: 23px;
	width: 78px;
}
.footlist ul:nth-child(6) li{
	border-right: none;
}
.police{
	position: absolute;
	display: inline-block;
	background: url(../images/gwab-icon.png) no-repeat;
	height:20px;
	width:20px;
}